.unity-progress-bar__progress {
    background-color: rgb(75, 138, 0);
}

.unity-progress-bar__background {
    background-color: rgb(20, 20, 20);
}

.unity-label {
}

.unity-progress-bar {
    width: auto;
}
